/* Variables */
/* Breakpoints */
/* Mixins */
html, body, main {
  height: 100%;
}

body {
  margin: 0;
  background-color: #3a3a3a;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #d8d8d8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Proza Libre", sans-serif;
  font-weight: 700;
  margin: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid #535353;
}

img {
  max-width: 100%;
}

main {
  position: relative;
  padding-left: 300px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main.b-toggle {
  padding-left: 64px;
}
@media (max-width: 990px) {
  main {
    padding-left: 64px !important;
  }
}

section {
  padding: 30px 75px 70px 60px;
  max-width: 1500px;
  margin: auto;
}
@media (max-width: 1200px) {
  section {
    padding-left: 30px;
    padding-right: 45px;
  }
}
@media (max-width: 767px) {
  section {
    padding: 15px 15px 30px 5px;
  }
}
section h2 {
  font-family: "Nunito", sans-serif;
  color: #eaeaea;
  margin: 0;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  section h2 {
    letter-spacing: 2px;
  }
}
section h2:after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #a7a7a7;
}
section h2 .b-icon {
  position: absolute;
  left: 0;
  top: 0;
}

.b-text-center {
  text-align: center;
}

.b-transition {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.b-btn {
  display: table;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 7px;
  margin: auto;
  font-size: 16px;
  border: 1px solid #272727;
}

.b-btn-solid-dark {
  background: #272727;
  color: #a7a7a7;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.b-btn-solid-dark i {
  color: #173032;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.b-btn-solid-dark:hover {
  color: #eaeaea;
  background: #1f1f1f;
  border-color: #1f1f1f;
}
.b-btn-solid-dark:hover i {
  color: #39b5c1;
}

.b-row {
  display: flex;
}
.b-row .b-column {
  flex: 1;
}

.b-section-title {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 5px;
  font-family: "Nunito", sans-serif;
  position: relative;
  padding-left: 25px;
}
.b-section-title i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #39b5c1;
}

.fade-enter-active > *,
.fade-leave-active > * {
  transition-duration: 200ms;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.6, 0.15, 0.35, 0.8);
}

.fade-enter > *,
.fade-leave-to > * {
  opacity: 0;
  transform: translateY(40px);
}

.fade-enter-active > *:nth-child(2) {
  transition-delay: 100ms;
}
.fade-enter-active > *:nth-child(3) {
  transition-delay: 200ms;
}

.fade-leave-active > *:nth-child(1) {
  transition-delay: 200ms;
}
.fade-leave-active > *:nth-child(2) {
  transition-delay: 100ms;
}

.b-go-top {
  display: none;
  opacity: 0;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #39b5c1;
  padding: 12px 15px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  .b-go-top {
    right: 10px;
    bottom: 10px;
    padding: 8px 11px;
  }
}
.b-go-top:hover {
  background: #244a4c;
}
.b-go-top:hover i {
  color: #39b5c1;
}
.b-go-top.show {
  display: block;
}
.b-go-top.visually-show {
  opacity: 1;
}
.b-go-top i {
  font-size: 24px;
  color: #272727;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  .b-go-top i {
    font-size: 18px;
  }
}

aside {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 300px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: #39b5c1;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  aside {
    max-width: 250px;
    height: calc(100% + 100px);
  }
}
aside .b-image {
  padding: 20px 20px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
aside .b-image img {
  border-radius: 50%;
  max-width: 150px;
  display: block;
  margin: auto;
  padding: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  aside .b-image img {
    max-width: 100px;
  }
}
aside .b-image h1 {
  color: #1f1f1f;
  font-size: 30px;
  margin: 20px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 767px) {
  aside .b-image h1 {
    font-size: 24px;
  }
}
aside .b-menu a {
  display: block;
  margin: 0;
  padding: 15px 20px;
  color: #a7a7a7;
  text-decoration: none;
  border-top: 1px solid #244a4c;
  background: #173032;
  line-height: 1;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
aside .b-menu a.b-active, aside .b-menu a:hover {
  background: #255154;
  color: #eaeaea;
}
aside .b-menu a.b-active {
  pointer-events: none;
}
aside .b-menu a:last-child {
  padding: 21px 20px;
  background-color: #272727;
  color: #a7a7a7;
}
@media (max-width: 990px) {
  aside .b-menu a:last-child {
    background-color: #1f1f1f;
  }
}
aside .b-menu a:last-child:hover {
  background-color: #1f1f1f;
  color: #eaeaea;
}
aside .b-menu a:last-child:hover i {
  color: #39b5c1;
}
aside .b-menu a:last-child i {
  margin-left: 5px;
  margin-right: 0;
  color: #255154;
  font-size: 18px;
}
@media (max-width: 990px) {
  aside .b-menu a:last-child i {
    color: #39b5c1;
  }
}
aside .b-menu a .b-icon {
  margin-left: 0;
}
aside .b-menu a span {
  font-size: 16px;
}
aside .b-menu a i {
  margin-right: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
aside .b-toggle-btn {
  background: #272727;
  padding: 5px;
  border-radius: 2px;
  display: table;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
aside .b-toggle-btn:hover {
  background: #1f1f1f;
}

.b-toggle aside {
  max-width: 64px;
}
.b-toggle aside .b-image {
  padding: 20px 0;
}
.b-toggle aside .b-image img {
  max-width: 35px;
}
.b-toggle aside .b-image h1 {
  font-size: 0;
  margin: 0;
}
.b-toggle aside .b-menu a {
  padding: 10px;
  padding-bottom: 7px;
  line-height: 0;
}
.b-toggle aside .b-menu a:last-child {
  padding: 19px 10px;
  text-align: center;
}
.b-toggle aside .b-menu a .b-icon {
  width: 40px !important;
  height: 40px !important;
  margin-left: 2px;
}
.b-toggle aside .b-menu a span {
  font-size: 0;
}
.b-toggle aside .b-menu a i {
  font-size: 22px;
  margin-left: 3px;
}
.b-toggle aside .b-toggle-btn {
  margin-right: 12px;
  text-align: center;
}

#about h2 {
  padding-left: 55px;
  padding-top: 17px;
  padding-bottom: 10px;
}
#about h2:after {
  width: calc(100% - 13px);
}
#about .b-content {
  padding: 0 15px;
}
@media (max-width: 1200px) {
  #about .b-content .b-row {
    display: block;
  }
}
#about .b-content h3 {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 1.3;
}
@media (max-width: 767px) {
  #about .b-content h3 {
    font-size: 18px;
    letter-spacing: 1px;
  }
}
#about .b-content p i {
  color: #e5c219;
}
@media (min-width: 1201px) {
  #about .b-content .b-about {
    margin-right: 60px;
  }
}
#about .b-content .b-educ > div,
#about .b-content .b-achievements > div {
  padding-left: 10px;
}
#about .b-content .b-educ .b-item h5 {
  margin-bottom: 3px;
}
#about .b-content .b-educ .b-item p:first-of-type {
  font-style: italic;
}
@media (min-width: 1201px) {
  #about .b-content .b-achievements {
    padding: 25px 20px 40px 20px;
    border: 2px solid #d8d8d8;
    border-radius: 10px;
  }
  #about .b-content .b-achievements hr {
    display: none;
  }
  #about .b-content .b-achievements h4 {
    margin-top: 0;
  }
}
#about .b-content .b-achievements .b-item:not(:last-child) {
  margin-bottom: 15px;
}
#about .b-content .b-achievements .b-item h5 {
  margin-bottom: 3px;
}
#about .b-content .b-achievements .b-item p {
  font-style: italic;
}
#about .b-content .b-achievements hr {
  margin-top: 15px;
}
#about .b-content .b-item {
  position: relative;
  padding-left: 15px;
  margin-top: 10px;
}
#about .b-content .b-item i {
  position: absolute;
  left: 0;
  top: 2px;
}
#about .b-content .b-item h5 {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}
#about .b-content .b-item p {
  margin: 0;
}
#about .b-content .b-item ul {
  margin: 5px 0 0;
  padding-left: 20px;
}

#experience h2 {
  padding-left: 55px;
  padding-top: 15px;
  padding-bottom: 10px;
}
#experience h2:after {
  width: calc(100% - 8px);
}
#experience .b-content {
  position: relative;
  padding-left: 8px;
  padding-bottom: 20px;
}
#experience .b-content:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 262px;
  background-color: #d8d8d8;
}
@media (max-width: 767px) {
  #experience .b-content:before {
    left: 17px;
  }
}
#experience .b-content .b-row:not(:last-child) {
  margin-bottom: 25px;
}
#experience .b-content .b-years,
#experience .b-content .b-details {
  display: inline-block;
  vertical-align: top;
}
#experience .b-content .b-years {
  max-width: 230px;
  padding-right: 15px;
  text-align: right;
}
@media (max-width: 767px) {
  #experience .b-content .b-years {
    display: none;
  }
}
#experience .b-content .b-years h4 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}
#experience .b-content .b-details {
  padding-left: 35px;
  position: relative;
}
#experience .b-content .b-details:before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #39b5c1;
}
#experience .b-content .b-details h4 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  #experience .b-content .b-details h4 {
    display: none;
  }
}
#experience .b-content .b-details h3 {
  margin-bottom: 3px;
}
#experience .b-content .b-details p {
  margin: 0;
}
#experience .b-content .b-details p:first-of-type {
  font-style: italic;
  color: #39b5c1;
}
#experience .b-content .b-details ul {
  margin: 5px 0 0;
  padding-left: 25px;
}

#skills h2 {
  padding-left: 55px;
  padding-top: 11px;
  padding-bottom: 6px;
}
#skills h2:after {
  width: calc(100% - 13px);
}
#skills .b-heading {
  padding-left: 13px;
  margin-bottom: 10px;
}
#skills .b-heading .b-section-title,
#skills .b-heading p {
  padding-left: 30px;
}
@media (max-width: 767px) {
  #skills .b-heading .b-section-title,
#skills .b-heading p {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  #skills .b-heading .b-section-title {
    color: #39b5c1;
  }
  #skills .b-heading .b-section-title i {
    display: none;
  }
}
#skills .b-heading p {
  margin-bottom: 0;
  margin-top: 3px;
  font-style: italic;
  font-size: 14px;
  color: #a7a7a7;
}
#skills .b-data {
  padding-left: 55px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  #skills .b-data {
    padding-left: 15px;
  }
}
@media (max-width: 360px) {
  #skills .b-data {
    display: block;
    flex-wrap: nowrap;
  }
}
#skills .b-data .b-skill {
  flex: 1 0 20%;
  max-width: 208px;
}
@media (max-width: 1050px) {
  #skills .b-data .b-skill {
    flex: 1 0 25%;
  }
}
@media (max-width: 650px) {
  #skills .b-data .b-skill {
    flex: 1 0 33.3%;
  }
}
@media (max-width: 500px) {
  #skills .b-data .b-skill {
    flex: 1 0 50%;
  }
}
@media (max-width: 360px) {
  #skills .b-data .b-skill {
    flex: none;
    max-width: 100%;
  }
}
#skills hr {
  width: calc(100% - 13px);
  margin-right: 0;
}
#skills .b-tools .b-section-title i {
  left: 1px;
}
#skills .b-tools .b-data {
  padding-left: 0;
}
#skills .b-tools .b-data .b-skill {
  margin: 15px 0;
}
#skills .b-tools .b-data .b-skill .b-logo {
  position: relative;
  margin-bottom: 10px;
}
#skills .b-tools .b-data .b-skill .b-logo svg {
  display: block;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
}
#skills .b-tools .b-data .b-skill .b-logo svg circle {
  transition: 2s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  fill: #272727;
}
#skills .b-tools .b-data .b-skill .b-logo img {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#skills .b-tools .b-data .b-skill h5 {
  text-align: center;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  letter-spacing: 2px;
}
#skills .b-tools .b-data .b-skill p {
  margin: 0;
  text-align: center;
  font-size: 14px;
}
#skills .b-cap .b-data ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0;
}
#skills .b-cap .b-data ul li {
  position: relative;
  padding-left: 15px;
  margin: 10px 0;
}
#skills .b-cap .b-data ul li i {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 13px;
}
#skills .b-other .b-section-title i {
  left: 3px;
}

#masterpiece h2 {
  padding-left: 60px;
  padding-top: 16px;
  padding-bottom: 11px;
}
#masterpiece h2:after {
  width: calc(100% - 6px);
}
#masterpiece .b-projects {
  padding-left: 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#masterpiece .b-projects .b-project {
  flex: 1 0 25%;
  max-width: 259px;
  padding: 0 5px;
  margin-bottom: 10px;
}
@media (max-width: 1200px) and (min-width: 991px), (max-width: 850px) {
  #masterpiece .b-projects .b-project {
    flex: 1 0 50%;
    max-width: 287px;
  }
}
@media (max-width: 991px) {
  #masterpiece .b-projects .b-project {
    max-width: 272px;
  }
}
#masterpiece .b-projects .b-project > div {
  width: 100%;
  height: auto;
  border: 2px solid #828282;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
#masterpiece .b-projects .b-project > div.b-down a, #masterpiece .b-projects .b-project > div.b-private a {
  cursor: not-allowed;
}
#masterpiece .b-projects .b-project > div.b-down .b-status i {
  background: #f44336 !important;
}
#masterpiece .b-projects .b-project > div.b-private .b-status i {
  background: #e5c219 !important;
}
#masterpiece .b-projects .b-project > div a {
  line-height: 0;
}
#masterpiece .b-projects .b-project > div .info {
  line-height: 1;
}
#masterpiece .b-projects .b-project > div .info h3 {
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #1f1f1f;
  color: #eaeaea;
  font-weight: 400;
  letter-spacing: 1px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
@media (max-width: 900px) {
  #masterpiece .b-projects .b-project > div .info h3 {
    font-size: 14px;
  }
}
#masterpiece .b-projects .b-project > div .info p {
  padding: 0;
  margin: 0;
  text-align: initial;
  font-style: normal;
  color: #eaeaea;
}
#masterpiece .b-projects .b-project > div .info p:first-of-type {
  margin-top: 10px;
  padding-left: 15px;
  font-weight: 700;
}
#masterpiece .b-projects .b-project > div .info p:last-of-type {
  margin-top: 5px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
#masterpiece .b-projects .b-project > div .info p:last-of-type span {
  flex: 1 0 50%;
  white-space: nowrap;
  position: relative;
  padding-left: 10px;
}
#masterpiece .b-projects .b-project > div .info p:last-of-type span i {
  font-size: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  top: 50%;
}
#masterpiece .b-projects .b-project > div .info .b-status {
  position: absolute;
  color: #d8d8d8;
  font-size: 9px;
  right: 5px;
  bottom: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#masterpiece .b-projects .b-project > div .info .b-status i {
  display: inline-block;
  vertical-align: top;
  margin-top: 1.1px;
  margin-right: 3px;
  width: 8px;
  height: 8px;
  background: #4caf50;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
}

/*# sourceMappingURL=style.css.map */
